* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.parallax {
    background-image: url('images/background.jpg');
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

/* Opraveno pro responzivitu na mobilních zařízeních */
@media (max-width: 768px) {
    .parallax {
        background-attachment: scroll; /* vypnutí parallax efektu na mobilních zařízeních */
    }
}

header {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.hero-text h2 {
    font-size: 5rem;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-text p {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    max-width: 800px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #black;
}

.destinations {
    text-align: center;
    padding: 40px 0;
}

.destinations h3 {
    font-size: 3rem;
    margin: 80px 0 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 15px);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h4 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}

.card-button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #d1be9c;
}

footer {
    background: black;
    margin-top: auto;
    text-align: center;
    padding: 15px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .card {
        width: calc(33.33% - 15px);
    }
}

@media (max-width: 900px) {
    .card {
        width: calc(50% - 15px);
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }

    .destinations h3 {
        font-size: 2rem;
    }

    .hero-text h2 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1.2rem;
    }
}
